<div layout-padding>
<h2>Create new venue</h2>

<md-content>
<form>

	<div layout="row">
		<md-input-container class="md-block" flex>
			<md-icon><i class="material-icons">business</i></md-icon>
            <label>Venue Name</label>
            <input ng-model="newVenue.name" ng-required="true">
         </md-input-container>
	</div>

	<div layout="row">
         <md-input-container class="md-block" flex-gt-sm>
         	<md-icon><i class="material-icons">web</i></md-icon>
            <label>Website</label>
            <input ng-model="newVenue.website">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
         	<md-icon><i class="material-icons">phone</i></md-icon>
            <label>Phone</label>
            <input ng-model="newVenue.phone">
         </md-input-container>
	</div>

	<div layout="row">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Street</label>
            <input ng-model="newVenue.street">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>Street 2</label>
            <input ng-model="newVenue.street2">
         </md-input-container>
	</div>

	<div layout="row">
		<md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="newVenue.city">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="newVenue.state">
              <md-option ng-repeat="state in states" value="{{state}}">
                {{state}}
              </md-option>
             </md-select>
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>Zip</label>
            <input ng-model="newVenue.zip">
         </md-input-container>
	</div>

		<hr>

		<md-button class="md-raised md-primary" ng-click="addNewHappyHourModal($event)">Add a Happy Hour</md-button>
		<!-- Show Happy Hours -->
		<div layout="row">

			<p ng-show="newHappyHours.length == 0"><i>There are currently no Happy Hours.</i></p>
			<md-list flex>
				<md-list-item ng-repeat="day in newHappyHours" class="md-3-line" ng-click="null">
		          <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
		          <div class="md-list-item-text" layout="column">
		            <h3>{{day.day}}</h3>
		            <h4>{{day.startTime}} to {{day.endTime}}</h4>
		            <p>Beer and Wine</p>
		            <md-icon class="md-secondary" ng-click="removeHappyHour(day)"><i class="material-icons">delete</i></md-icon>
		          </div>
		    	</md-list-item>
		    </md-list>
		    <div flex></div>
		</div>
		<!-- / Show Happy Hours -->

		<div class="row">
			<div class="col-md-12">
			<hr>
				<md-button type="submit" class="md-raised md-primary" ng-click="createVenue()">Create</md-button>
				<md-button class="md-raised" ng-click="cancelCreate()">Cancel</md-button>
			</div>
		</div>

	</form>

	</md-content>	

</div>

<!-- Add Happy Hour Modal -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="addNewHappyHourModal">
      <md-dialog layout-padding>

      	<h2>Add a Happy Hour</h2>
        <md-input-container class="md-block" flex-gt-sm>
			<label>Day</label>
				<md-select ng-model="newHappyHour.day">
					<md-option ng-repeat="day in days" value="{{day}}">
						{{day}}
					</md-option>
				</md-select>
		</md-input-container>

		<div layout="row">
			<md-input-container class="md-block" flex-gt-sm>
			    <label>Start Time</label>
			    <md-select ng-model="newHappyHour.startTime">
			      <md-option ng-repeat="t in times" value="{{t.value}}">
			        {{t.text}}
			      </md-option>
			     </md-select>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
			    <label>End Time</label>
			    <md-select ng-model="newHappyHour.endTime">
			      <md-option ng-repeat="t in times" value="{{t.value}}">
			        {{t.text}}
			      </md-option>
			     </md-select>
			</md-input-container>
		</div>

		<div layout="row">
			<md-input-container class="md-block" flex-gt-sm>
				<md-checkbox ng-model="newHappyHour.beer">
			 		Beer
			 	</md-checkbox>
			 	<md-checkbox ng-model="newHappyHour.wine">
			 		Wine
			 	</md-checkbox>
			 	<md-checkbox ng-model="newHappyHour.cocktails">
			 		Cocktails
			 	</md-checkbox>
			</md-input-container>
		</div>

		<div layout="row">
			<md-input-container flex class="md-block" rows="5" md-select-on-focus>
			<label>Description</label>
				<textarea ng-model="newHappyHour.description"></textarea>
			</md-input-container>
		</div>

		<div layout="row">
			<div flex>
				<md-button class="md-primary md-hue-1" ng-click="addNewHappyHour()">Add</md-button>
			</div>
			<div flex>
				<md-button class="md-primary md-hue-1" ng-click="cancelModal()">Cancel</md-button>
			</div>
			
		</div>

      </md-dialog>
    </div>
  </div>
<!-- / Add Happy Hour Modal -->


	