<div layout-padding>
<h2>Create new venue</h2>

<md-content>
<form>

	<div layout="row">
		<md-input-container class="md-block" flex-gt-sm>
			<md-icon><i class="material-icons">business</i></md-icon>
            <label>Venue Name</label>
            <input ng-model="newVenue.name" ng-required="true">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
         	<md-icon><i class="material-icons">web</i></md-icon>
            <label>Website</label>
            <input ng-model="newVenue.website">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
         	<md-icon><i class="material-icons">phone</i></md-icon>
            <label>Phone</label>
            <input ng-model="newVenue.phone">
         </md-input-container>
	</div>

	<div layout="row">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Street</label>
            <input ng-model="newVenue.street">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>Street 2</label>
            <input ng-model="newVenue.street2">
         </md-input-container>
         
	</div>

	<div layout="row">
		<md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="newVenue.city">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="newVenue.state">
              <md-option ng-repeat="state in states" value="{{state}}">
                {{state}}
              </md-option>
             </md-select>
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>Zip</label>
            <input ng-model="newVenue.zip">
         </md-input-container>
	</div>




		<br><br>

		<table class="table table-condensed">
			<tr>
				<th>Day</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Beer</th>
				<th>Wine</th>
				<th>Cocktails</th>
				<th>Description</th>
				<th></th>
			</tr>
			<tr ng-repeat="day in newHappyHours">
				<td>{{day.day}}</td>
				<td>{{day.startTime}}</td>
				<td>{{day.endTime}}</td>
				<td>{{day.beer}}</td>
				<td>{{day.wine}}</td>
				<td>{{day.cocktails}}</td>
				<td>{{day.description}}</td>
				<td><a href="javascript:void(0)" ng-click="removeHappyHour(day)"><i class="fa fa-times" aria-hidden="true"></i></a></td>
			</tr>
		</table>

		<p ng-show="newHappyHours.length == 0"><i>There are currently no Happy Hours.</i></p>

		<hr>

		<!-- Add Happy Hours -->

		<div class="row">
			<div class="col-md-2">
				<select name="hhStartTime" class="form-control" ng-model="newHappyHour.day">
						<option value="" disabled selected>Day</option>
						<option ng-repeat="d in days" ng-value="d">{{d}}</option>
				</select>
			</div>
			<div class="col-md-2">
				<select name="hhStartTime" class="form-control" ng-model="newHappyHour.startTime">
					<option value="" disabled selected>Start Time</option>
					<option ng-repeat="t in times" ng-value="t.value">{{t.text}}</option>
				</select>
			</div>
			<div class="col-md-2">
				<select name="hhEndTime" class="form-control" ng-model="newHappyHour.endTime">
					<option value="" disabled selected>End Time</option>
					<option ng-repeat="t in times" ng-value="t.value">{{t.text}}</option>
				</select>
			</div>
			<div class="col-md-6">
				<label for="hhBeer">Beer</label>
				<input type="checkbox" name="hhBeer" ng-model="newHappyHour.beer">
				&nbsp;&nbsp;
				<label for="hhWine">Wine</label>
				<input type="checkbox" name="hhWine" ng-model="newHappyHour.wine">
				&nbsp;&nbsp;
				<label for="hhCocktails">Cocktails</label>
				<input type="checkbox" name="hhCocktails" ng-model="newHappyHour.cocktails">
				<br><br>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<textarea class="form-control" ng-model="newHappyHour.description" placeholder="{{hhDescriptionPlaceholder}}"></textarea>
			</div>
			<div class="col-md-2">
				<button type="button" ng-click="addNewHappyHour()" class="btn btn-success">Add</button>
			</div>
		</div>


		<!-- // Add Happy Hours -->

		

		<div class="row">
			<div class="col-md-12">
			<hr>
				<button type="submit" class="btn btn-primary" ng-click="createVenue()">Create</button>
				<button type="button" class="btn btn-default" ng-click="cancelCreate()">Cancel</button>
			</div>
		</div>

	</form>

	</md-content>	

</div>



	