



<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{venue.name}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            {{venue.street}} <br>
            {{venue.city}}, {{venue.state}}  {{venue.zip}}
        </div>
        <div class="col-md-1">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
    </div>
    
    <br><br>
    <table class="table">
    	<tr>
    		<th>Day</th>
    		<th>Start Time</th>
    		<th>End Time</th>
    		<th>Beer</th>
    		<th>Wine</th>
    		<th>Cocktails</th>
    		<th>Description</th>
    	</tr>
    	<tr ng-repeat="day in venue.happyHours">
    		<td>{{day.day}}</td>
    		<td>{{day.startTime}}</td>
    		<td>{{day.endTime}}</td>
    		<td>
                <i ng-show="{{day.beer}}" class="fa fa-check" aria-hidden="true"></i>
            </td>
    		<td>
                <i ng-show="{{day.wine}}" class="fa fa-check" aria-hidden="true"></i>
            </td>
    		<td>
                <i ng-show="{{day.cocktails}}" class="fa fa-check" aria-hidden="true"></i>
            </td>
    		<td>{{day.description}}</td>
    	</tr>
    </table>

  </div>
</div>